.suggest-page-nav-bar-container {
  width: 334px;
}

.suggest-page-nav-bar {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  width: 334px;
  height: 800px;
  padding: 32px 50px;
  background-color: white;

  &__button {
    width: 100%;
    min-height: 50px;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;

    background: none;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid black;

    &:hover {
      color: red;
      border-bottom: 1px solid #BD0C1E;
    }

    &_selected {
      color: red;
      border-bottom: 1px solid #BD0C1E;
    }
  }

  &_feedback-link {
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    color: red;
  }
}