.NavBar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #AAB4B6;
  padding: 0 30px;
  .NavItem {
    display: flex;
    align-items: center;
    &-Button {
      margin-right: 14px;
      cursor: pointer;
      border: none;
      background-color: white;
      font-size: 12px;
      font-weight: normal;


      &_color {
        &_red {
          color: red;
        }
        &_default {
          color: rgba(170, 180, 182, 1);
        }
      }
    }

    &-Image {
      margin-right: 14px;
    }
  }

}